* {
  margin: 0;
  padding: 0;
  color: white;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-container {
  max-width: 95%;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .section-container {
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .section-container {
    max-width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .section-container {
    max-width: 85%;
  }
}

@media screen and (min-width: 1280px) {
  .section-container {
    max-width: 75%;
  }
}

@media screen and (min-width: 1536px) {
  .section-container {
    max-width: 65%;
  }
}

a:hover {
  cursor: pointer;
}

section {
  background-color: #111A20;
}

@media screen and(max-width: 640px) {
  .text-2xl {
    font-size: 1rem !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;